#toolbar-current-app {
  color:red !important;    
  background-color:yellow;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #f1c871;
  
}


.tree li span:hover {
color: #e92828;
  
  
}

.tree .fa.fa-edit {
   color: #e92828;
  
}

.tree .fa.fa-edit + span {
    color: #e92828;
  
}

.tree .fa.fa-folder-open {
  color: blue;
  
}

.tree .fa.fa-folder-open + span {
  color: blue;
  
}


.ui-widget-content {
  background: none;
  background: #f9f9f9;

  
}

.ui-widget-content.slick-row:hover {
  background-color: #ffcfcf !important;
  
  
}

.ace_selected-word {
  background-color: yellow;
  
}